In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.feature_selection import mutual_info_regression
from sklearn.model_selection import train_test_split
from category_encoders import MEstimateEncoder

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('pricePredictionData.csv')
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [4]:
data.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [5]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [6]:
def setMiScore(x,y):
    x = x.copy()
    for colname in x.select_dtypes(['object','category']):
        x[colname], _ = x[colname].factorize()
        
    discrete_features = [pd.api.types.is_integer_dtype(t) for t in x.dtypes]
    mi_score = mutual_info_regression(x, y, discrete_features=discrete_features, random_state=42)
    mi_score = pd.Series(mi_score, name='Mutual Information Score', index=x.columns)
    mi_score = mi_score.sort_values(ascending=False)
    return mi_score

In [7]:
X = data.drop(columns=['price'])
y = data[['price']]

mi_score = setMiScore(X, y)
mi_score

street           1.187259
statezip         0.453802
city             0.315389
sqft_living      0.298434
sqft_above       0.200396
bathrooms        0.184815
sqft_lot         0.145104
bedrooms         0.080524
yr_built         0.075527
floors           0.053934
view             0.050866
sqft_basement    0.046252
yr_renovated     0.011067
waterfront       0.005997
date             0.005088
condition        0.001126
country          0.000000
Name: Mutual Information Score, dtype: float64

In [8]:
data=data.drop(['country','condition','date','waterfront','price','sqft_basement','view','yr_renovated'], axis=1)

In [9]:
data

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,street,city,statezip
0,3.0,1.50,1340,7912,1.5,1340,1955,18810 Densmore Ave N,Shoreline,WA 98133
1,5.0,2.50,3650,9050,2.0,3370,1921,709 W Blaine St,Seattle,WA 98119
2,3.0,2.00,1930,11947,1.0,1930,1966,26206-26214 143rd Ave SE,Kent,WA 98042
3,3.0,2.25,2000,8030,1.0,1000,1963,857 170th Pl NE,Bellevue,WA 98008
4,4.0,2.50,1940,10500,1.0,1140,1976,9105 170th Ave NE,Redmond,WA 98052
...,...,...,...,...,...,...,...,...,...,...
4595,3.0,1.75,1510,6360,1.0,1510,1954,501 N 143rd St,Seattle,WA 98133
4596,3.0,2.50,1460,7573,2.0,1460,1983,14855 SE 10th Pl,Bellevue,WA 98007
4597,3.0,2.50,3010,7014,2.0,3010,2009,759 Ilwaco Pl NE,Renton,WA 98059
4598,4.0,2.00,2090,6630,1.0,1070,1974,5148 S Creston St,Seattle,WA 98178
4599,3.0,2.50,1490,8102,2.0,1490,1990,18717 SE 258th St,Covington,WA 98042

In [10]:
data = data.join(y)

In [12]:
z = np.abs(stats.zscore(data[['sqft_living','sqft_above','bathrooms','yr_built','sqft_lot','bedrooms']]))
print(z)

      sqft_living  sqft_above  bathrooms  yr_built  sqft_lot  bedrooms
0        0.829971    0.565224   0.843204  0.531014  0.193434  0.441122
1        1.568528    1.789559   0.432802  1.674693  0.161718  1.759705
2        0.217367    0.119171   0.205201  0.161000  0.080978  0.441122
3        0.144686    0.959621   0.113800  0.261913  0.190145  0.441122
4        0.206984    0.797222   0.432802  0.175376  0.121306  0.659291
...           ...         ...        ...       ...       ...       ...
4595     0.653458    0.368025   0.524202  0.564651  0.236689  0.441122
4596     0.705374    0.426025   0.432802  0.410840  0.202882  0.441122
4597     0.904009    1.371962   0.432802  1.285418  0.218462  0.441122
4598     0.051238    0.878421   0.205201  0.108101  0.229164  0.659291
4599     0.674224    0.391225   0.432802  0.646303  0.188139  0.441122

[4600 rows x 6 columns]

In [13]:
threshold = 3
print(np.where(z > 3))

(array([  56,  107,  122,  122,  122,  122,  122,  217,  227,  233,  240,
        241,  252,  252,  252,  254,  272,  291,  291,  375,  418,  418,
        452,  461,  462,  462,  462,  462,  471,  479,  484,  495,  548,
        575,  581,  581,  634,  634,  634,  675,  679,  743,  747,  779,
        798,  839,  847,  878,  879,  999, 1017, 1031, 1078, 1089, 1103,
       1128, 1130, 1132, 1132, 1182, 1182, 1209, 1209, 1209, 1261, 1265,
       1272, 1275, 1275, 1301, 1302, 1302, 1360, 1390, 1406, 1408, 1411,
       1417, 1417, 1424, 1455, 1479, 1500, 1539, 1567, 1567, 1571, 1602,
       1637, 1644, 1722, 1762, 1786, 1944, 1952, 1952, 1962, 1962, 2005,
       2005, 2152, 2155, 2157, 2199, 2226, 2279, 2286, 2286, 2300, 2316,
       2328, 2328, 2328, 2365, 2401, 2480, 2551, 2588, 2654, 2654, 2654,
       2717, 2725, 2731, 2731, 2731, 2731, 2761, 2761, 2846, 2846, 2855,
       2872, 2889, 2917, 2967, 2967, 2967, 2968, 2980, 2980, 3004, 3004,
       3004, 3004, 3046, 3056, 3099, 3117, 3122, 3125, 3202, 3202, 3202,
       3209, 3209, 3235, 3260, 3346, 3349, 3349, 3353, 3370, 3389, 3402,
       3448, 3470, 3487, 3512, 3525, 3559, 3559, 3660, 3671, 3700, 3729,
       3729, 3770, 3770, 3770, 3775, 3781, 3894, 3906, 3906, 3911, 3939,
       3972, 3980, 4032, 4032, 4061, 4061, 4088, 4091, 4135, 4135, 4135,
       4138, 4138, 4138, 4233, 4234, 4243, 4246, 4266, 4273, 4273, 4277,
       4283, 4283, 4283, 4353, 4369, 4374, 4383, 4385, 4387, 4398, 4400,
       4432, 4432, 4523, 4528, 4575, 4575, 4575], dtype=int64), array([4, 4, 0, 1, 2, 4, 5, 1, 2, 1, 4, 5, 0, 1, 5, 4, 4, 2, 5, 4, 0, 1,
       0, 4, 0, 1, 2, 4, 0, 4, 4, 4, 2, 5, 0, 1, 0, 1, 2, 1, 4, 5, 4, 4,
       4, 0, 0, 4, 4, 4, 2, 4, 4, 1, 4, 1, 0, 0, 2, 0, 4, 0, 1, 2, 4, 4,
       4, 1, 4, 1, 0, 1, 1, 4, 4, 4, 1, 0, 1, 4, 5, 5, 5, 4, 0, 1, 1, 0,
       0, 5, 4, 4, 4, 4, 0, 2, 0, 4, 1, 2, 4, 4, 4, 4, 0, 2, 0, 1, 4, 1,
       0, 1, 2, 5, 0, 4, 4, 4, 0, 1, 2, 5, 1, 0, 1, 2, 4, 0, 1, 0, 2, 4,
       4, 4, 5, 0, 1, 4, 4, 0, 1, 0, 1, 2, 5, 5, 4, 4, 1, 4, 1, 0, 1, 2,
       1, 5, 1, 4, 4, 0, 1, 4, 5, 1, 4, 4, 4, 4, 4, 4, 0, 1, 4, 4, 4, 0,
       2, 0, 1, 2, 1, 2, 1, 0, 1, 5, 2, 4, 4, 0, 1, 1, 4, 4, 0, 0, 1, 2,
       0, 1, 4, 1, 4, 5, 2, 4, 0, 2, 0, 0, 1, 4, 4, 4, 4, 1, 0, 4, 0, 1,
       0, 1, 0, 2, 0, 1, 2], dtype=int64))

In [15]:
data = data[(z < 3).all(axis=1)]

In [16]:
data.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,street,city,statezip,price
0,3.0,1.50,1340,7912,1.5,1340,1955,18810 Densmore Ave N,Shoreline,WA 98133,313000.0
1,5.0,2.50,3650,9050,2.0,3370,1921,709 W Blaine St,Seattle,WA 98119,2384000.0
2,3.0,2.00,1930,11947,1.0,1930,1966,26206-26214 143rd Ave SE,Kent,WA 98042,342000.0
3,3.0,2.25,2000,8030,1.0,1000,1963,857 170th Pl NE,Bellevue,WA 98008,420000.0
4,4.0,2.50,1940,10500,1.0,1140,1976,9105 170th Ave NE,Redmond,WA 98052,550000.0

In [18]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [19]:
encoder = MEstimateEncoder(cols=['street','statezip','city'], m=0.5)

X = encoder.fit_transform(X, y)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size=0.2, random_state=42)

In [24]:
model = LinearRegression()

In [25]:
model.fit(X_train, y_train)

LinearRegression()